@model LocalConnWeb.ViewModels.GenLCHotelSearchModel
    @{
        ViewBag.Title = "SearchHotels";
        Layout = "~/Views/Shared/_LayoutDetails.cshtml";
    }

    <!-- ================================
        START CARD AREA
    ================================= -->
    <section class="card-area section--padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="filter-wrap margin-bottom-30px">
                        <div class="filter-top d-flex align-items-center justify-content-between pb-4">
                            <div>
                                <h3 class="title font-size-24">@Model.TotalRecords Properties found</h3>
                                <p class="font-size-14 line-height-20 pt-1">Book with confidence: Enjoy your stay with local connection</p>
                            </div>
                            <div class="layout-view d-flex align-items-center">
                                <a href="tour-grid.html" data-toggle="tooltip" data-placement="top" title="Grid View" class="active"><i class="la la-th-large"></i></a>
                                <a href="tour-list.html" data-toggle="tooltip" data-placement="top" title="List View"><i class="la la-th-list"></i></a>
                            </div>
                        </div><!-- end filter-top -->
                   
                        <div class="filter-bar d-flex align-items-center justify-content-between">
                            <form method="get" action="/genlchotels/SearchHotels" data-otf-ajax="true" data-otf-target="#DataGrid">
                                <div class="d-flex bd-highlight"> 
                                    <div class="p-2 flex-fill bd-highlight"><h3 class="title font-size-16 pt-1">Filter by:</h3></div>
                                    <div class="p-2 flex-fill bd-highlight"><input type="text" class="form-control" placeholder="Where To?" id="whereto" name="Where" autocomplete="off" /></div>
                                    <div class="p-2 flex-fill bd-highlight">
                                        <div class="form-group">
                                                <select class="select-contain-select" name="HomeType">
                                                    <option selected="selected">Hotel Type</option>
                                                    @foreach (var item in Model.HomeTypes)
                                                    {
                                                        <option value="@item.HomeTypeID">@item.HomeTypeName</option>
                                                    }
                                                </select>
                                        </div>
                                    </div>
                                    <div class="pt-2 flex-fill bd-highlight"><button type="submit" class="btn btn-primary btn-sm"><i class="fa fa-map-marker"></i> Find Now</button></div>
                                </div>
                            </form>
                        </div><!-- end filter-bar -->
                    </div><!-- end filter-wrap -->
                </div><!-- end col-lg-12 -->
            </div><!-- end row -->
            <div class="row">
                <div class="col-md-12">
                    @Html.Partial("_pvSearchHotelList", Model)
                </div>
            </div><!-- end row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="btn-box mt-3 text-center">
                        @if (Model.TotalRecords > 10)
                        {
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="pagination-box-row">
                                        <ul class="pagination">
                                            <li class="active"><a href="#">1</a></li>
                                            <li><a href="#">2</a></li>
                                            <li><a href="#">3</a></li>
                                            <li><a href="#"><i class="fa fa-angle-double-right"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        }
                    </div><!-- end btn-box -->
                </div><!-- end col-lg-12 -->
            </div><!-- end row -->
        </div><!-- end container -->
    </section><!-- end card-area -->
    <!-- ================================
        END CARD AREA
    ================================= -->
