@model LocalConnWeb.ViewModels.AboutUsDetails
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_LayoutDetails.cshtml";
}
@*<section class="peulis-breadcrumb-area">
    <div class="breadcrumb-top">
        <div class="container">
            <div class="col-lg-12">
                <div class="breadcrumb-box">
                    <h2>ABOUT US</h2>
                </div>
            </div>
        </div>
    </div>
</section>*@
<section class="peulis-tour-page-area section_70">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 m-5">
                <div class="tour-page-right" style="line-height:2;">
                    <p>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </p>
                    <h4>About Local Connection...</h4>

                    <p>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; @Model.AboutContent
                    </p>
                </div>

            </div>
        </div>
    </div>
</section>



