@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_LayoutDetails.cshtml";
}

<section class="peulis-tour-page-area section_70">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 m-5">
                <div class="tour-page-right" style="line-height:2;">
                    <h2>@ViewBag.Title.</h2>

                    <address>
                        Inderkil School Building, Lal Bazar Ranipool<br />
                        Ranipool, EAST Sikkim<br />
                        737135<br />
                        <abbr title="Phone">Ph:</abbr>
                        +91-73190-79996/97759-93332
                    </address>

                    <address>
                        <strong>enquiry:</strong>   <a href="#">localconnectiontmc@gmail.com</a><br />
                    </address>
                </div>

            </div>
        </div>
    </div>
</section>

